<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="schoollink.MyApps" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="schoollink.MyApp" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <userSettings>
        <schoollink.MyApps>
            <setting name="user_account" serializeAs="String">
                <value />
            </setting>
            <setting name="user_password" serializeAs="String">
                <value />
            </setting>
            <setting name="isp" serializeAs="String">
                <value />
            </setting>
            <setting name="istoupan" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="autolink" serializeAs="String">
                <value>False</value>
            </setting>
        </schoollink.MyApps>
        <schoollink.MyApp>
            <setting name="user_account" serializeAs="String">
                <value />
            </setting>
            <setting name="user_password" serializeAs="String">
                <value />
            </setting>
            <setting name="isp" serializeAs="String">
                <value />
            </setting>
            <setting name="istoupan" serializeAs="String">
                <value>True</value>
            </setting>
        </schoollink.MyApp>
    </userSettings>
</configuration>